.data-loader {
  width: 80px;
  height: 80px;
  border: 8px solid;
  border-radius: 50%;
  border-color: #4f46e5 transparent;
  animation: loader 1s linear infinite;
}

@keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
